:root {
    --text: #00A7E1;
}

footer {
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container-footer {
    height: 100%;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 2rem;
}

.upper-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.upper-footer img {
    height: clamp(3rem, 10vw, 3.5rem);
}

.upper-footer div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.upper-footer div a {
    font-size: clamp(1.5rem, 5vw ,2rem);
    color: var(--text);
    font-weight: 700;
    transition: all .3s ease;
}

.upper-footer div a:hover {
    opacity: 0.7;
}

.lower-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 7rem;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.information-footer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    gap: 0.5rem;
    flex: 1;
}

.information-footer p {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}

.information-footer ul li{
    margin: 0.5rem 0;
}

.information-footer ul li a {
    font-size: 1.125rem;
    color: var(--text);
    font-weight: 700;
    transition: all .3s ease;
    border-bottom: 1px solid var(--text);
}

.information-footer ul li a:hover {
    opacity: 0.7;
}

.brands-footer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    gap: 0.5rem;
}

.brands-footer p {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
}

.brands-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-brand {
    width: 4rem;
    height: 4rem;
    transition: all .3s ease;
    cursor: pointer;
}

.footer-brand:hover {
    transform: scale(1.1);
}

.copyright {
    color: var(--text);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}