.page-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: clamp(1.1rem, 3vw, 1.25rem);
    color: var(--text);
    font-weight: 700;
    width: 10rem;
}

.page-container i {
    transition: all .3s ease;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    cursor: pointer;
}

.page-container i:hover {
    opacity: 0.7;
}

.page-container a {
    color: var(--text);
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
}

.page-container a:hover {
    opacity: 0.7;
}

.page-num.pactive {
    border-color: var(--text);
}